[alias]
	st = status
	ci = commit
	co = checkout
[user]
	email = wechlin@sourcefire.com
[color]
	diff = true
	branch = true
	interactive = true
	status = true
[merge]
	tool = vimdiffmeld
[mergetool "vimdiffmeld"]
	cmd = $HOME/bin/git-mergescript $BASE $LOCAL $REMOTE $MERGED
