/[^.]*
.DS_Store
/*.swp
/.[a-z]*history*
/.lesshst
/.psql_history*
/.mysql_history
/.viminfo
/.ssh/id_rsa*
/.gnome*
/.ICEauthority
/.Xauthority
/.cache
/.config
/.dmrc
/.esd_auth
/.evolution
/.fontconfig
/.gconf
/.gconfd
/.gitk
/.gksu.lock
/.gnupg
/.gpilotd.pid
/.gstreamer-0.10
/.gtk-bookmarks
/.gtkrc-1.2-gnome2
/.hplip
/.macromedia
/.metacity
/.mozilla
/.nautilus
/.openoffice.org2
/.pulse-cookie
/.pulse
/.purple
/.recently-used.xbel
/.ssl
/.sudo_as_admin_successful
/.thumbnails
/.update-manager-core
/.vmware
/.wine
/.xsession-errors
!src
!thought_residue
*.o
