/[^.]*
.DS_Store
*.sw[po]
/.[a-z]*history*
/.cache
/.compiz
/.config
/.cpan
/.dmrc
/.esd_auth
/.eclipse
/.evolution
/.fontconfig
/.gconf
/.gconfd
/.ghc/ghci_history
/.gitk
/.gksu.lock
/.gnome*
/.gnupg
/.gpilotd.pid
/.gstreamer-0.10
/.gtk-bookmarks
/.gtkrc-1.2-gnome2
/.hplip
/.ICEauthority
/.lesshst
/.macromedia
/.metacity
/.mozilla
/.mysql_history
/.nautilus
/.openoffice.org2
/.perlbrew
/.pip
/.psql_history*
/.pulse
/.pulse-cookie
/.purple
/.recently-used.xbel
/.ssh/id_rsa*
/.ssl
/.sudo_as_admin_successful
/.texmf-var
/.TeXworks
/.thumbnails
/.update-manager-core
/.viminfo
/.VirtualBox
/.vmware
/.wine
/.Xauthority
/.xsession-errors*
*.o
!doc
!src
!thought_residue
