[alias]
	st = status
	ci = commit
	co = checkout
	review = "!git log --abbrev-commit --date=short --pretty=format:'%h%x1f%cd%x1f%s%x1f%an%x1f%d'|awk -F'\\037' '{printf\"\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-'`expr ${COLUMNS:-80} - 48`'s \\033[1m%8s\\033[0m\\033[33m%-18s\\033[0m\\n\",$1,$2,substr($3,1,'`expr ${COLUMNS:-80} - 48`'),(index($4,\" \")?substr(substr($4,1,index($4,\" \")-1),1,8):substr($4,1,8)),substr($5,1,18)}'|tail -r"
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	email = wechlin@vetstreet.com
	name = Liam Echlin
[color]
	diff = true
	branch = true
	interactive = true
	status = true
[merge]
	tool = vimdiffmeld
[mergetool "vimdiffmeld"]
	cmd = $HOME/src/git-mergescript $BASE $LOCAL $REMOTE $MERGED
[github]
	user = heptadecagram
[core]
	editor = /usr/bin/vim
