
# Project  Name: None
# File / Folder: .inputrc
# File Language: readline
# Copyright (C): 2005 Liam Bryan
# First  Author: Liam Bryan
# First Created: 2005.07.08 10:18:44
# Last Modifier: Liam Bryan
# Last Modified: 2006.03.10 15:08:34

#set editing-mode vi
"\C-b"	backward-word
"\C-f"	forward-word
"\C-x\C-["	start-kbd-macro
"\C-x\C-]"	end-kbd-macro
"\C-x\C-k"	call-last-kbd-macro
