
#set editing-mode vi
"\C-b"	backward-word
"\C-Rubout"	backward-kill-word
"\C-f"	forward-word
"\C-x\C-["	start-kbd-macro
"\C-x\C-]"	end-kbd-macro
"\C-x\C-k"	call-last-kbd-macro

set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
