#host.config

[Money-Type]='Singo'
[Money-Type]='Dingo'
[Money-Type]='Tringo'

[Money-Adjective]='Red'
[Money-Adjective]='Yellow'
[Money-Adjective]='Green'
[Money-Adjective]='Blue'

[Money-Start-Amount]='100'

[Object-Base-Type]='Pyramid'

[Object-Type]='Small'
[Object-Type]='Medium'
[Object-Type]='Large'

[Object-Adjective]='Red'
[Object-Adjective]='Yellow'
[Object-Adjective]='Green'
[Object-Adjective]='Blue'
