<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
	<title><!-- tmpl_var name="title" --></title>
</head>
<body>
	<div id="Navigation">
		<h1>Richard Group Knowledge Base</h1>
		<ul>
			<li><a href="/">Main Page</a></li>
			<li><a href="/Special:Recent_Changes">Recent Changes</a></li>
			<li><a href="/Special:What_links_here/<!-- tmpl_var name="title_uri" -->">What links here</a></li>
			<li><a href="/Special:">Special Pages</a></li>
		</ul>
	</div>
	<div id="Content">
		<h1><!-- tmpl_var name="title" --></h1>
		<ul>
			<li><a href="/<!-- tmpl_var name="title_uri" -->">Article</a></li>
			<li><a href="">Edit</a></li>
			<li><a href="">History</a></li>
		</ul>
		<!-- tmpl_var name="content" -->
	</div>
	<div id="Footer">
		This page was last modified <!-- tmpl_var name="changed_on" -->
	</div>
</body>
</html>
